<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>bylaw</string>
   </array>
  <key>name</key>
  <string>bylaw</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.bylaw</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#match</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#variable</string>
        </dict>
       </array>
    </dict>
    <key>allow_exception</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\ballow\b)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#allow_exception__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\:)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>include</key>
          <string>#inline_condition</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(.)</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>allow_exception__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b[a-z_A-Z0-9]+)</string>
          <key>name</key>
          <string>string.bylaw</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(,)</string>
          <key>name</key>
          <string>storage.type.bylaw</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(.)</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>boolean</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(true|false)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>constant.other.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#boolean__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\b)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>boolean__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(.*)</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>inline_condition</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\bif)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#inline_condition__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>inline_condition__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b(or|and)\b)</string>
          <key>name</key>
          <string>storage.type.bylaw</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(==)</string>
          <key>name</key>
          <string>storage.type.bylaw</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#string</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#boolean</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#number</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#selector</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(.)</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>match</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\s*\bmatch)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#match__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(^(?=.{0,1})(?:|))</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>variable.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>match__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#router_pattern</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\s*\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#match__2</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\s*\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>match__2</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#allow_exception</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\s])</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>number</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\s*(\b|-)\d+(_\d+)*(\.\d+(_\d+)*)?)</string>
          <key>name</key>
          <string>constant.numeric.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>router_pattern</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>([^\/a-zA-Z0-9_-\{\}])</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#router_pattern__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>([^\/a-zA-Z0-9_-\{\}])</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>router_pattern__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>([\/a-zA-Z0-9_-])</string>
          <key>name</key>
          <string>string.bylaw</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#router_pattern__2</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>router_pattern__2</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b[a-z_A-Z0-9]+)</string>
          <key>name</key>
          <string>variable.bylaw</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\s]*)</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>selector</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b[\w\x{0024}_]+(\s*(\.\s*[\w\x{0024}_]+|\[\s*(&quot;.*?&quot;|&apos;.*?&apos;|-?\d+(_\d+)*)\s*\]))*)</string>
          <key>name</key>
          <string>variable.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>string</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#string_doble_quote</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#string_simple_quote</string>
        </dict>
       </array>
    </dict>
    <key>string_doble_quote</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#string_doble_quote__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>([^\x{005c}\x{0022}]\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>string_doble_quote__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\\\&quot;|[^\&quot;])</string>
          <key>name</key>
          <string>string.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>string_simple_quote</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\s*\&apos;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#string_simple_quote__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>([^\x{005c}\x{0027}]\&apos;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>string_simple_quote__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\\\&apos;|[^\&apos;])</string>
          <key>name</key>
          <string>string.bylaw</string>
        </dict>
       </array>
    </dict>
    <key>variable</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\s*\b[a-z_A-Z0-9]+)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>variable.bylaw</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#variable__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\s*\;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>storage.type.bylaw</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>variable__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\s*\=)</string>
          <key>name</key>
          <string>storage.type.bylaw</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#string</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#number</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#boolean</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\s])</string>
          <key>name</key>
          <string>invalid.illegal.bylaw</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
